<!DOCTYPE html>
<html>
  <head>
    <h3><% include ../partials/spinkhead %> </h3>

  </head>
  <body>
    <header>
      <% include ../partials/spinkheader %>
    </header>
    <div class="users" style="width:100%; max-width: 600px; margin: 0 auto;">
      <!-- main start -->

<!-- views/users/new.ejs -->
<div class="w3-container">
  <h2></h2>
  <p></p>


  <div class="w3-card-4">
    <header class="w3-container w3-blue">
      <h3>스핀크 룰</h3>
    </header>
      <div class="w3-container">
        스핀크 게임의 룰은 '매우 단순'합니다.

        30초면 스핀크 룰을 이해할 수 있습니다. <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';"href="javascript:void(0)">
        ... 더 읽기</a><div style="DISPLAY: none">

        <br><br>


        <p><b>룰A.</b> 1, 2, 3만을 사용한다.</p>
        <p><b>룰B.</b> 같은 숫자 두개가 만나면* 같은 숫자가 된다.</p>
        <p><b>룰C.</b> 다른 숫자 두개가 만나면* 다른 숫자가 된다.</p>
        <div style="font-size:6px;"><p>*스핀크 연산(@)을 하면</p></div>
        <br><br>
        이해하셨죠? <br> 그렇다면 아래의 빨간색 칸에 들어갈 숫자는 무엇일까요?<br><br>
        <div style="width:250px; margin: 0 auto;">
          <button type="button" style="width:27pt" class="btn btn-success">2</button> 와
          <button type="button" style="width:27pt" class="btn btn-warning">1</button> 이 만나면?
          <button id="btText_01" type="button" style="width:27pt" class="btn btn-danger">?</button>&nbsp&nbsp<text id="text_01" style="color:red; font-size:8px;"></text>
        </div>
        <br>파란색 칸을 클릭해서 빨간색 칸에 들어갈 숫자를 맞춰보세요.<br><br>
        <div style="margin: 0 auto; text-align:center;">
            <button id="btText_02" type="button" style="width:27pt" class="btn btn-info" onclick="myFunction0()">?</button>
            <button type="button" style="width:45pt" class="btn btn-default" onclick="textFunc01()">확인</button><br><br>
            <p id="text_02" style="color:red;font-size:12px;"></p>
        </div>

        스핀크는 게임에 참여한 모든 사람이 넣은 숫자들(1~3)로 거대한 체인이 만들어집니다.
        참여자들이 넣은 숫자들은 순차적으로 서버에 등록되고 순차적인 스핀크 연산을 통해 녹색칸에 위치한 숫자가 만들어집니다. 이 숫자는 보여지지 않습니다.
        유저는 이 숫자를 예측해야 합니다. 가위바위보와 같은 확률(1/3)입니다. 이후 황색 칸을 클릭하여 숫자를 선택하고, 하늘색 칸을 클릭해서 두 숫자(녹색, 황색칸의 숫자)가 만나 생성될 '예상 숫자'를 선택합니다.
<br><br>예를들어 아래의 예제에서는 유저가 1, 2, 2(황색칸) 을 선택했고 그 결과값 2, 1, 3(하늘색칸) 을 선택했습니다.

        <div style="width: 120px; margin: 0 auto;">
          <br><br>
          <button type="button" style="width:27pt" class="btn btn-success">?</button>
          <button type="button" style="width:27pt" class="btn btn-success">?</button>
          <button type="button" style="width:27pt" class="btn btn-success">?</button>


          <br><br>
          <button type="button" style="width:27pt" class="btn btn-warning">1</button>
          <button type="button" style="width:27pt" class="btn btn-warning">2</button>
          <button type="button" style="width:27pt" class="btn btn-warning">2</button>

          <br><br>
          <button type="button" style="width:27pt" class="btn btn-danger">?</button>
          <button type="button" style="width:27pt" class="btn btn-danger">?</button>
          <button type="button" style="width:27pt" class="btn btn-danger">?</button>

          <br><br>
          <button type="button" style="width:27pt" class="btn btn-info">2</button>
          <button type="button" style="width:27pt" class="btn btn-info">1</button>
          <button type="button" style="width:27pt" class="btn btn-info">3</button>

        </div>

<br><br> 이 때, 가려져 있던 녹색칸의 값이 2, 3, 1 이었다면, 빨간색 칸의 값은 3, 1, 3이 됩니다. 유저가 예측한 값중 2개가 맞았습니다(6/27확률).

        <div style="width: 120px; margin: 0 auto;">
          <br><br>
          <button type="button" style="width:27pt" class="btn btn-success">2</button>
          <button type="button" style="width:27pt" class="btn btn-success">3</button>
          <button type="button" style="width:27pt" class="btn btn-success">1</button>


          <br><br>
          <button type="button" style="width:27pt" class="btn btn-warning">1</button>
          <button type="button" style="width:27pt" class="btn btn-warning">2</button>
          <button type="button" style="width:27pt" class="btn btn-warning">2</button>

          <br><br>
          <button type="button" style="width:27pt" class="btn btn-danger">3</button>
          <button type="button" style="width:27pt" class="btn btn-danger">1</button>
          <button type="button" style="width:27pt" class="btn btn-danger">3</button>

          <br><br>
          <button type="button" style="width:27pt" class="btn btn-info">2</button>
          <button type="button" style="width:27pt" class="btn btn-info">1</button>
          <button type="button" style="width:27pt" class="btn btn-info">3</button>
<br><br>

        </div>
        이 결과에 따라 유저에게 '오늘의 능력치'가 부여 됩니다. 능력치가 부여되면 자동으로 다른 유저들과 배틀을 합니다.
        배틀의 '승'과 '패'가 매일 매일 기록되어 유저의 랭킹을 확인할 수 있습니다. 오늘의 능력치가 낮다면 다시 스핑크에
        참여해서 새로운 '능력치'를 부여받을 수 있습니다. 더 높을 수도 있고 더 낮을 수도 있습니다.

        <br><br>
        스핀크 체인은 게임에 참여한 모든 사람의 숫자로만 만들어 집니다.
        그리고 '매우 단순'한 룰과 게임에 참여한 모든 사람의 숫자에 기반하여 게임의 최종 결과가 나옵니다.

        <br><br>
        Spink's Ranking System
      <br><br>
    스핀크가 뭐에요? <button type="button" class="btn btn-default" onclick="spinkEx()">스핀크는...</button><p id="spinkExplain"></p>

        <a onclick="this.parentNode.style.display='none';" href="javascript:void(0)">
        접기</a>
    </div>
  </div>
  <div class="w3-container w3-blue">
    <div class="buttons" style="float: right; margin-right: 10px; height:30pt; display:inline-block"><button type="button" class="btn btn-link"><p style="color:white;">Join</p></button><button type="button" class="btn btn-link"><p style="color:white;">Login</p></button></div>
  </div>
</div>



<div>

  <div style="width: 120px; margin: 0 auto;">
  <br><br>
  <button type="button" style="width:27pt" class="btn btn-success">?</button>
  <button type="button" style="width:27pt" class="btn btn-success">?</button>
  <button type="button" style="width:27pt" class="btn btn-success">?</button>


  <br><br>
  <button id="toggle1" type="button" style="width:27pt" class="btn btn-warning" onclick="myFunction1()">1</button>
  <button id="toggle2" type="button" style="width:27pt" class="btn btn-warning" onclick="myFunction2()">1</button>
  <button id="toggle3" type="button" style="width:27pt" class="btn btn-warning" onclick="myFunction3()">1</button>

  <br><br>
  <button type="button" style="width:27pt" class="btn btn-danger">?</button>
  <button type="button" style="width:27pt" class="btn btn-danger">?</button>
  <button type="button" style="width:27pt" class="btn btn-danger">?</button>

  <br><br>
  <button id="toggle4" type="button" style="width:27pt" class="btn btn-info" onclick="myFunction4()">1</button>
  <button id="toggle5" type="button" style="width:27pt" class="btn btn-info" onclick="myFunction5()">1</button>
  <button id="toggle6" type="button" style="width:27pt" class="btn btn-info" onclick="myFunction6()">1</button>

  </div>
</div>
    <h4>Fight</h4>
    <br>
    <button onclick="move()">Fight</button>
    <div id="myProgress">
     <div id="myBar"></div>
    </div>

  <br>
현재스핀크값
  <button onclick="location.href='spinksum'">Home</button>

  <div class="new">
    <div class="buttons">
      <button class="float_right" onclick="location.href='/spink'">Spink</button>
    </div>
    <h3>SPINK</h3>
    <form class="checkValidation" action="/#" method="post">
      <div class="inputs">
        <div class="floats">
          <label>Num1*</label>
          <input class="cvRequired" type="text" name="user[email]" cvRqErrMsg="Email is required." cvRqErrTo="#cvErrEmail" value="<%= formData?formData.email:"" %>">
          <div id="cvErrEmail" class="message"><%= emailError?emailError:"" %></div>
        </div>
        <div class="floats">
          <label>Num2*</label>
          <input class="cvRequired" type="text" name="user[nickname]" cvRqErrMsg="Nickname is required." cvRqErrTo="#cvErrNickname" value="<%= formData?formData.nickname:"" %>">
          <div id="cvErrNickname" class="message"><%= nicknameError?nicknameError:"" %></div>
        </div>
        <div class="floats">
          <label>Num3*</label>
          <input class="cvRequired cvMatch" type="password" name="user[password]" cvRqErrMsg="Password is required." cvRqErrTo="#cvErrPassword"
            cvMatW="#cvMatWPassword" cvMatErrMsg="Password confirmation doesn't match." cvMatErrTo="#cvErrPasswordConfirmation" value="">
            <div id="cvErrPassword" class="message"><%= passwordError?passwordError:"" %></div>
        </div>
        <div class="floats">
          <label>your name or email*</label>
          <input id="cvMatWPassword" type="password" name="user[passwordConfirmation]" value="">
          <div id="cvErrPasswordConfirmation" class="message"></div>
        </div>
        <p><small>*Required</small></p>
      </div>
        <div class="buttons">
            <button class="float_right" onclick="location.href='/spink'">Spink</button>
        </div>
    </form>
</div>
<div class="col-md-3">
            <button type="button" class="btn btn-success btn-block">Success</button>
          </div><br><br>


          <div class="container">
            <h3>Button Groups - Set Sizes</h3>
            <p>Add class .btn-group-* to size all buttons in a button group.</p>
            <h3>Large Buttons:</h3>
            <div class="btn-group btn-group-lg">
              <button type="button" class="btn btn-primary">Apple</button>
              <button type="button" class="btn btn-primary">Samsung</button>
              <button type="button" class="btn btn-primary">Sony</button>
            </div>
            <h3>Extra Small Buttons:</h3>
            <div class="btn-group btn-group-xs">
              <button type="button" class="btn btn-primary">Apple</button>
              <button type="button" class="btn btn-primary">Samsung</button>
              <button type="button" class="btn btn-primary">Sony</button>
            </div>
          </div>


          <div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              1 <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              1 <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              1 <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>
          </div>
<!-- main end -->
</div>

<footer>
  <% include ../partials/spinkfooter %>
</footer>

</body>
</html>
